ul {
  list-style: none;
}

h2 {
  font-size: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#addPostForm {
  margin-left: 25px;
  margin-bottom: 15px;
}

.has-error {
  background-color: #FFEBE9;
  border: 2px solid red;
}

.no-color {
  color: black;
}

.ng-enter {
  animation: fadeInUp .3s;
}

.ng-leave {
  animation: fadeOutDown .3s;
}

.ng-hide-remove {
  animation: fadeInDown .2s;
}

.ng-hide-add {
  animation: fadeOutUp .2s;
}
